*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: clamp(1rem, 1.5vw + 0.7rem, 2rem);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
h2 {
  font-size: 0.8rem;
}
h3 {
  font-size: 0.6rem;
}
aside {
  padding: 0.5rem 1rem;
  z-index: 2;

  background-color: rgba(40, 132, 236, 0.856);
  grid-area: aside;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  & li {
    font-size: 0.7rem;
    padding: 0.2rem;
    color: white;
    & svg {
      width: 0.8rem;
      vertical-align: text-bottom;
      fill: #fff;
      flex-shrink: 0;
    }
  }
  & a {
    display: flex;
    gap: 0.9rem;
    color: white;
  }
  & .dashboard {
    display: flex;
    gap: 0.3rem;
    font-size: 1rem;
    font-weight: bolder;
    & svg {
      width: 1.1rem;
      flex-shrink: 0;
    }
  }
}
main {
  background-color: #e8e9e986;
  grid-area: main;
  padding: 1rem;

  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1rem;
}
.project-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.project {
  min-height: 210px;
  background-image: linear-gradient(90deg, orange 0.25rem, white 0.25rem);
}
header {
  background-color: #fff;
  grid-area: header;
  z-index: 1;
}
.container {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "aside header"
    "aside main";

  min-height: 100vh;
}

.project,
header,
.story,
.trends {
  box-shadow: 1px 1px 6px rgb(184, 182, 182);
}

.story {
  margin-bottom: 1rem;
}
.story,
.trends,
.project {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  padding: 1rem;
}
p {
  font-size: 0.6rem;
  text-align: justify;
}
hr {
  margin: 0.2rem 0;
}
.trends {
  display: grid;
  gap: 0.3rem;
}
.trend {
  display: flex;
  gap: 1rem;
}
